<div class="single-post-area mb-30">
    <div class="row align-items-center">
        <div class="col-12 col-lg-6">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="{{tidings.photoURL}}" alt="">

                <!-- Video Duration -->
                <span [routerLink]="['updatenews/',tidings.id]"  style="cursor: pointer;" *hasRole="['Admin']" class="video-duration">adham</span>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="#" class="post-cata cata-sm cata-danger">Category</a>
                <a [routerLink]="['/news/',tidings.id]" class="post-title mb-2">{{tidings.headline }}</a>
                <div class="post-meta d-flex align-items-center mb-2">
                    <a href="#" class="post-author">{{tidings.authorName}}</a>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="#" class="post-date">{{tidings.publishDate|date}}</a>
                </div>
                <p class="mb-2">{{tidings.extract | limitTo}}</p>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-flag" aria-hidden="true"></i> {{tidings.country}}</a>
                    <a href="#"><i class="fa fa-home" aria-hidden="true"></i> {{tidings.city}}</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                </div>
            </div>
        </div>
    </div>
</div>